
<%# ヘッダー　%>
<div class="py-4 bg-gray-600 flex justify-center items-center">
    <div class="">
        <i class="fa-sharp fa-solid fa-bars text-3xl pl-4 text-white"></i>
    </div>
    
    <div class="mx-auto">
        <i class="fa-brands fa-font-awesome text-4xl mr-4 text-green-400 "></i><a class="text-white text-4xl font-semibold italic" href="https://www.interviewz.io/">Interviewz</a> 
    </div>
</div>

<%# ヒーローセクション　%>
<div>
    <div class="relative">
        <div class="absolute top-32 pl-8">
            <p class="text-white text-3xl font-semibold  leading-relaxed">診断×テクノロジーで<br>
                収益アップとコストダウンを叶えるツール</p>

            <div class="absolute top-36 bg-sky-500/20  mx-8 ml-20 p-4 ">

                <h3 class="text-white text-xl text-center">＼＼インタビューズがすぐにわかる／／</h3>

                <button class="mx-auto text-white px-32 py-4 mt-4 bg-orange-400 font-bold rounded-lg hover:bg-blue-300 block whitespace-nowrap">
                    <i class="fa-solid fa-rocket"></i>
                    <span>資料ダウンロードはこちら</span>
                  </button>
                  <button class="mx-auto text-white px-32 py-4 mt-4 bg-sky-400 font-bold rounded-lg hover:bg-blue-300 block whitespace-nowrap">
                    <i class="fa-solid fa-rocket"></i>
                    <span>お問い合わせはこちらです</span>
                  </button>

        
            </div>
        </div>
        <div class="bg-gray-500/20">

        </div>
        <video  class="bg-gray-500/20" webkit-playsinline="" playsinline="" muted="" autoplay="" loop="" height=""
        src="http://kasumiblog.xsrv.jp/codepen/video/video.mp4"></video>

    </div>
</div>

<%# 事例紹介　%>

<div class="text-center bg-white pt-16 pb-20">
    <div>
        <a class="text-white px-12 py-1 mt-10 bg-blue-400  hover:bg-blue-300">
            <span>IMPROBEMENT</span>
        </a>
        <p class="pt-8 text-blue-400 text-2xl font-semibold">効果事例</p>
    </div>
   
    <div class="grid grid-cols-2 gap-12 pt-8">
        <div class="border-solid border-2 border-sky-500 px-12 mx-auto py-16">
            <%= image_tag 'banana.jpg',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2"%>
            <h class="w-80">コンバージョン数</h>
            <h4 class="w-80">利用者全比268%に</h4>
            <p class="w-100">登録フォームやFAQをInterviewzに変えたところ<br>サービスへの登録数が利用前比268％になりました。</p>
        </div>

        <div class="border-solid border-2 border-sky-500 px-12 mx-auto py-16">
            <%= image_tag 'banana.jpg',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2"%>
            <h class="w-80">コンバージョン数</h>
            <h4 class="w-80">利用者全比268%に</h4>
            <p class="w-100">登録フォームやFAQをInterviewzに変えたところ<br>サービスへの登録数が利用前比268％になりました。</p>
        </div>
        <div class="border-solid border-2 border-sky-500 px-12 mx-auto py-16">
            <%= image_tag 'banana.jpg',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2"%>
            <h class="w-80">コンバージョン数</h>
            <h4 class="w-80">利用者全比268%に</h4>
            <p class="w-100">登録フォームやFAQをInterviewzに変えたところ<br>サービスへの登録数が利用前比268％になりました。</p>
        </div>

        <div class="border-solid border-2 border-sky-500 px-12 mx-auto py-16">
            <%= image_tag 'banana.jpg',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2"%>
            <h class="w-80">コンバージョン数</h>
            <h4 class="w-80">利用者全比268%に</h4>
            <p class="w-100">登録フォームやFAQをInterviewzに変えたところ<br>サービスへの登録数が利用前比268％になりました。</p>
        </div>
    </div>
</div>